.seccion__presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url(../imagenes/abstract-background-with-red-lines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0 10% 0;
  width: 100%;
}

.presentacion__foto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2% 2% 2% 8%;
  width: 45%;
}

.foto {
  padding: 10% 5% 10% 5%;
  border-radius: 50%;
  width: 380px;
  height: 380px;
}

.presentacion {
  width: 50%;
  padding: 0 10% 2% 1%;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: rgb(220, 220, 220);
}

.presentacion__titulo {
  font-size: 3vw;
  line-height: 1.5rem;
  padding: 6% 1% 1% 1%;
  width: 100%;
}

.presentacion__parrafo1 {
  font-size: 2vw;
  font-weight: 500;
  line-height: 1.5em;
  padding: 0 1% 0 1%;
  width: 90%;
}

.presentacion__parrafo2 {
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 1% 1% 1%;
}

.presentacion__redes {
  display: flex;
  margin-top: 80px;
}

.presentacion__redes--lista {
  list-style: none;
}

.presentacion__redes--link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #252424;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.presentacion__redes--icono {
  width: 30%;
}

@media screen and (max-width: 480px) {
  .seccion__presentacion {
    background: url(../imagenes/abstract-background-with-red-lines.jpg);
    background-size: contain;
    background-repeat: round;
  }
  .presentacion__foto {
    padding: 12% 2% 2% 2%;
  }
  .foto {
    width: 140px;
    height: 140px;
  }
  .presentacion {
    margin-left: 1%;
    padding-top: 5%;
  }
  .presentacion__redes {
    margin-top: 40px;
  }
  .presentacion__redes--link {
    font-size: 2vw;
  }
  .presentacion__redes--icono {
    width: 40%;
  }
}
